main {
    width: 80%;
    margin: auto;
    /* background-color: aliceblue; */
    /* border: 1px solid black; */

}

.Product-Slider-Container {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.Product-Slider-Container h2 {
    font-size: x-large;
    font-weight: 600;
    margin: 30px 0px;
}